{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-stage-3",
    "@babel/preset-es2017"
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
